*{
    padding: 0em;
    margin: 0em;
}

body {
    /* background-color: black; */
}


header{
    color: #68cb58;
    background-color: #5a5959;
    display: flex;
    padding: 1%;
    justify-content: space-between;

}
header>h1{


}

form.profilePrompt{
    padding: 1em;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    background-color: #5a5959;
    color: #68cb58;
    border: black 1px solid;
    justify-content:end;
}

#profilePicture {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile{
    display: block;
    justify-content: end;
    width: 20%;
}


#welcome {
    color:#68cb58;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 1em;
}

#friends-games-container {
    display: flex;
    justify-content: space-between;
    background-color: #5a5959;
}

#friends-container {
    padding: 1%;
    width: 20%;
    justify-content: start;
    background-color: #5a5959;
    border: 1px solid #68cb58;
}

#friends-container h1 {
    color:#68cb58;
}

#games{
    width: 40%;
    float: left;
    background-color: #5a5959;
    justify-content: end;
}

#games h1 {
    text-align: center;
    color: #68cb58;
    border: 1px solid #68cb58;
}

.game{
    width: 20%;
    border: 1px solid #68cb58;
    display: inline-block;
}
.gameimg{
    width: 75%;
    height: 75%;
}

.game p {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#selectFriends  {
    background-color: gray;
    color: white;
    margin-bottom: 1em;
    padding: 2%;
    display: flex;
    font-size: .75em;
    flex-flow: column wrap;

}

#selectFriends img{
    width 20%;
    height 20%;
}

.profile{
    margin-top:.5em;
    width: 100%;
}


#selectFriends img {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    margin-right: 2%;
}

#games-in-common{
    background-color: #5a5959;
    color: #68cb58;
    padding: 1em;
}

#incommon-list {
    margin-top: 1rem
}