*{
    padding: 0em;
    margin: 0em;
}

body {
    /* background-color: black; */
}


header{
    color: #68cb58;
    background-color: #5a5959;
    text-align: center;
}

form.profilePrompt{
    padding: 1em;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    background-color: #5a5959;
    color: #68cb58;
    border: black 1px solid;
}

#profilePicture {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    color:#68cb58;
    font-weight: bold;
    display: block;
    text-align: center;
}

#friends-container {
    margin-left: 5%;
    width: 40%;
}


#friends li {
    background-color: gray;
    color: white;
    margin-bottom: 1em;
    padding: 2%;
    display: flex;
}

#friends img {
    height: 10%;
    width: 10%;
    border-radius: 50%;
    margin-right: 2%;
}