*{
    padding: 0em;
    margin: 0em;
}

body {
    /* background-color: black; */
}


header{
    color: #68cb58;
    background-color: #5a5959;
    display: flex;
    padding: 1%;

}
header>h1{


}

form.profilePrompt{
    padding: 1em;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    background-color: #5a5959;
    color: #68cb58;
    border: black 1px solid;
    justify-content:end;
}

#profilePicture {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile{
    display: block;
    justify-content: end;
    width: 20%;
}


#welcome {
    color:#68cb58;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 1em;



}

#friends-container {
    padding: 2em;
    width: 20%;
    justify-content: start;
    background-color: #5a5959;
    border: 1px solid #68cb58;
}

#games{
    width: 70%;

    background-color: #5a5959;
    justify-content: end;
}
.game{
    width: 20%;
    border: 1px solid #68cb58;
}
.gameimg{
    width: 7em;
    height: 7em;
}


#selectFriends  {
    background-color: gray;
    color: white;
    margin-bottom: 1em;
    padding: 2%;
    display: flex;
    font-size: .75em;
    flex-flow: column wrap;

}

.profile{
    margin-top:.5em;
    width: 100%;
}


#selectFriends img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-right: 2%;
}