*{
    padding: 0em;
    margin: 0em;
}

body {
    /* background-color: black; */
}


header{
    color: #68cb58;
    background-color: #5a5959;
    text-align: center;
    padding: 1%;
    justify-content: start;
}

form.profilePrompt{
    padding: 1em;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    background-color: #5a5959;
    color: #68cb58;
    border: black 1px solid;
    justify-content:;
}

#profilePicture {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile{
    width: 40%;
}


#welcome {
    color:#68cb58;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: xx-large;
    margin: 2%;


}

#friends-container {
    padding: 2em;
    width: 20%;
    justify-content: start;
    background-color: #5a5959;
    border: 1px solid #68cb58;
}


#selectFriends  {
    background-color: gray;
    color: white;
    margin-bottom: 1em;
    padding: 2%;
    display: flex;
    font-size: .75em;
    flex-flow: column wrap;

}

#selectFriends img {
    height: 10%;
    width: 10%;
    border-radius: 50%;
    margin-right: 2%;
}